<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{result.title}}
    <br>
    {{result.name}}
    <br>
    {{result.pubdate|formdatetime}}
    <br>
    {{result.view}}
    <br>
    {{result.contents}}
    <br>

    <a href="{{url_for('lists', page=page, search=search, keyword=keyword)}}">리스트</a>
    
    {% if session["id"] == result.writer_id %}
        <a href="{{url_for('board_delete, idx=result.id)}}">삭제</a>
        <a href="{{url_for('board_delete, idx=edit.id)}}">수정</a>
    {% endif %}

</body>
</html>